// This file was auto-generated by Fern from our API Definition.

import * as Api from "./api/index.js";
import type { BaseClientOptions, BaseRequestOptions } from "./BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "./BaseClient.js";
import { mergeHeaders } from "./core/headers.js";
import * as core from "./core/index.js";
import * as environments from "./environments.js";
import { handleNonStatusCodeError } from "./errors/handleNonStatusCodeError.js";
import * as errors from "./errors/index.js";

export declare namespace ApiClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ApiClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ApiClient.Options>;

    constructor(options: ApiClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {Api.GetUserRequest} request
     * @param {ApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Api.UnauthorizedError}
     *
     * @example
     *     await client.getUser({
     *         id: "id"
     *     })
     */
    public getUser(
        request: Api.GetUserRequest,
        requestOptions?: ApiClient.RequestOptions,
    ): core.HttpResponsePromise<Api.User> {
        return core.HttpResponsePromise.fromPromise(this.__getUser(request, requestOptions));
    }

    private async __getUser(
        request: Api.GetUserRequest,
        requestOptions?: ApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<Api.User>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ApiEnvironment.Default,
                `v1/users/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Api.User, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Api.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.ApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/users/{id}");
    }
}
